{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-3 mb-5">
    <center><h1>SELAMAT DATANG DI ODIN PONSEL</h1></center>
    <div class="card" style="width: 58rem;">
        <img src="{% static 'img/store-1.jpg' %}"  class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      
      <div class="card-group mt-3 mb-3">
        <div class="card">
          <img src="{% static 'img/servicehp.jpg' %}" class="card-img-top" style="width: 300px; height: 300px;" alt="Foto Kami">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
            <img src="{% static 'img/store-2.jpg' %}" class="card-img-top" style="width: 300px; height: 300px;" alt="Foto Kami">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
            <img src="{% static 'img/store-3.jpg' %}" class="card-img-top" style="width: 300px; height: 300px;" alt="Foto Kami">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      

  </div>
  
{% endblock content %}
    