{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="container-fluid mt-3 mb-3">
    <center><h1>LAPORAN STOCK</h1></center>
    <div class="row">
      <div class="col-md-12">
        <h3>
          Data Stock
          <a href="{% url 'createstock' %} " class="btn btn-primary">Tambah</a>
        </h3>
  
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>NAMA ITEM</th>
              <th>JUMLAH</th>
              <th>HARGA</th>
              <th>TANGGAL</th>
              <th>KATEGORI</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in stocks %}
            <tr>
              <td><a href="{% url 'detailstock' stock.pk %}">{{ stock.nama }}</a></td>
              <td>{{ stock.jumlah }}</td>
              <td>{{ stock.harga|intcomma  }}</td>
              <td>{{ stock.date|naturalday  }}</td>
              <td>{{ stock.kategori }}</td>
              <td>
                <a href="{% url 'updatestock' stock.pk %}" class="btn btn-success">Update</a>
                <a href="{% url 'deletestock' stock.id %}" class="btn btn-danger">Hapus</a>
    
              </td>
  
              <div class="modal" id="update-">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="modal-title">
                        <h3>Update</h3>
                      </div>
                    </div>
                    
                    <div class="modal-body">
                      Apakah anda yakin ingin menghapus <strong></strong>?
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'updatestock' stock.pk %}" class="btn btn-danger">Update</a>
                      <button class="btn btn-dark" data-dismiss="modal">Tidak</button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}
    

